/* CSS Document */
@import url('https://fonts.googleapis.com/css?family=Maven+Pro'); /*default font */
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');

body{
  background-color: #FFFFFF;
  margin: 0 0 0 0;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 14px;
  color: #585858;
}
img.icon {
  width:50px;
  height:auto;
}
img.logo {
  width:150px;
  height:auto;
  float: right;
}
a.body{
  color: #0090D9;
  text-decoration: none;
}
a.rightnav{
  color: #FFFFFF;
  text-decoration: none;
}
a.nav{
  color: #585858;
  text-decoration: none;
  text-align: center;
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: center;
}
div.holder{
  width: 100%;
  float: left;
}
div.dummy{
  height:100px;
}
div.navigation-bar{
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #FFFFFF;
  padding-top: 30px;
  text-align: center;
}
div.column-highlight{
  width: 100%;
  float: left;
  height: 450px;
  background-image: url(../images/events.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  color: #FFFFFF;
  text-align: center;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}
div.column-highlight2{
  width: 60%;
}
h1.highlight{
  font-size: 60px;
  font-family: arial;
}
div.column-left{
  width:20%;
  float: left;
}
div.column-middle{
  width:60%;
  float: left;
}
div.calendar-left{
  width:10%;
  float: left;
}
div.calendar-middle{
  width:60%;
  float: left;
}
div.calendar-right{
  width:30%;
  float: left;
}
div.center{
  align-self: center;
  padding-left: 100px;
}
ul.topnav {
	list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
ul.topnav li {
  float: left;
}
ul.topnav li a {
  display: block;
  color: #585858;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
ul.topnav li a:hover {
    color: #0090d9;
}
div.column-right{
  width:20%;
  float: left;
}
div.navright{
  background-color: #0090D9;
  width:150px;
  height:40px;
  color: #FFFFFF;
  font-size: 14px;
  text-align: center;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}
div.country{
  align-self: center;
  display: flex;
  align-items: center;
  justify-content: center;

}
ul.countrynav {
	list-style-type: none;
  margin: 20;
}
ul.countrynav li {
  float: left;
  padding-right: 30px;
}
ul.countrynav li a {
  display: block;
  color: #585858;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  background-color: #FFFFFF;
  border: solid;
  border-color: #A9A9A9;
  size:24px;
}
ul.faq li a {
  color: #585858;
  text-align: left;
  padding: 14px 16px;
  text-decoration: none;
  background-color: #FFFFFF;
  border-color: #A9A9A9;
  size:24px;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}
ul.countrynav li a:hover {
  color: #FFFFFF;
  background-color: #696969;
}
ul.countrynav li a.chosen:hover {
  color: #FFFFFF;
  background-color: #696969;
}
ul.countrynav li a.chosen {
  color: #FFFFFF;
  background-color: #A9A9A9;
}
div.button{
  background-color: #FFA500;
  width:150px;
  height:40px;
  color: #FFFFFF;
  font-size: 14px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
div.column-snippet{
  width: 30%;
  float: left;
  background-color: #FFFFFF;
  text-align: center;
  padding: 8px;
}
h2{
  font-size: 20px;
  font-weight: bold;
}
h2.hostevent{
  font-size: 40px;
}
h2.workshop{
  font-size: 45px;
}
h2.faq{
  font-size: 30px;
}
div.column-hostevent{
  width: 100%;
  float: left;
  height: 250px;
  background-color: #DCDCDC;
  color: #585858;
  text-align: center;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}
div.column-workshop{
  width: 100%;
  float: left;
  height: 100px;
  background-color: #FFFFFF;
  text-align: center;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}
div.column-faq{
  margin-top: 50px;
  width: 100%;
  float: left;
  height: 600px;
  background-color: #d3d3d3;
  text-align: center;
}
div.question{
  width: 50%;
  background-color: #FFFFFF;
  text-align: left;
  display: flex;
  flex-flow: column;
  border-width: medium;
  border-color: #d3d3d3;
  border-style: solid;
  padding: 10px;
  margin-left: 25%;
  color: #0090D9;
  float: left;
  size: 20px;
}
div.answer {
  width: 50%;
  background-color: #d3d3d3;
  display: none;
  color:#000000;
  overflow: hidden;
  text-align: left;
  flex-flow: column;
  border-width: medium;
  float: left;
  margin-left: 380px;
  margin-right: 60px;
  margin-top: 20px;
  margin-bottom: 20px;
}

div.column-hostevent2{
  font-size: 16px;
}
div.column-highlight2{
  width: 60%;
}
h1.highlight{
  font-size: 60px;
  font-family: arial;
}
