<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link href="../css/clone_hackreactor.css"
          rel="stylesheet"
          type="text/css">
    <script
          src="https://code.jquery.com/jquery-3.2.1.js"
          integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
          crossorigin="anonymous">
    </script>
    <script src="../javascripts/main.js"></script>
    <title>Hack Reactor Clone</title>
  </head>

  <body>
    <div class="holder">
      <div class="navigation-bar">
        <div class="column-left">
          <img class="logo"
               src="../images/hack-reactor-logo.png">
        </div>
        <div class="column-middle">
          <div class="center">
             <ul class="topnav">
           	   <li><a href="#">Onsite</a></li>
               <li><a href="#">Remote</a></li>
               <li><a href="#">Prepare</a></li>
               <li><a href="#">Partnerships</a></li>
               <li><a href="#">Outcomes</a></li>
               <li><a href="#">Events</a></li>
               <li><a href="#">Scholarships</a></li>
              </ul>
            </div>
        </div>
        <div class="column-right">
          <div class="navright">
            <a class="rightnav" href="https://admissions.hackreactor.com/steps/1">Apply Now</a>
          </div>
        </div>
      </div>
    </div>

    <div class="dummy">
      &nbsp;
    </div>

    <div class="holder">
      <div class="column-highlight">
        <div class="column-highlight2">
          <h1 class="highlight">Experience Our Community’s Vibrant Energy at Our Coding Events<h1>
          <p>Interested in a career in coding? Attend prep lectures, campus tours, and free coding workshops in person and online free of charge! Register Today.</p>
        </div>
      </div>
    </div>

    <div class="holder">
      <div class="column-left">
        &nbsp;
      </div>
      <div class="column-middle">
        <div class="column-snippet">
          <p> <img class="icon"
                   src="../images/calendar-time--blue.png"
                   alt="Calendar icon representation."></p>
          <h2>Campus tours</h2>
          <p>Come get a sense of the Hack Reactor vibe on a <a class="body" href="https://calendly.com/hackreactortours/">scheduled tour</a> of our light-filled campuses.Come for the views, stay for the career-changing coding program.</p>
        </div>
        <div class="column-snippet">
          <p> <img class="icon"
                   src="../images/code.png"
                   alt="Learn to Code icon representation."></p>
          <h2>Learn to Code</h2>
          <p>Come join one of our workshops and learn how to code for free. Our coding workshops range from beginner-friendly to intermediate-friendly as we aim to help you get started on your journey of learning to code. Our goal is to offer these workshops as both a utility for learning the fundamentals of programming and as a teaser of our fun and intuitive teaching style that you will experience in a Hack Reactor paid program.</p>
        </div>
        <div class="column-snippet">
          <p> <img class="icon"
                   src="../images/social--blue.png"
                   alt="Guest Speakers icon representation."></p>
          <h2>Guest Speakers</h2>
          <p>Stop by one of our campuses to hear from coding experts in your local community. We're lucky to host experienced industry speakers at all our campuses and we welcome you to join the community and learn from them. From deeply technical talks to high-level discussions about the industry, you can find value in hearing it from the pros.</p>
        </div>
      </div>
      <div class="column-right">
          &nbsp;
      </div>
    </div>

    <div class="holder">
      <div class="column-hostevent">
        <h2 class="hostevent">Would You Like to Host an Event at Hack Reactor?</h2>
        <p>Send us an email with your location and we will reach out to you shortly.</p>
        <div class="column-hostevent2">
          <div class="button">
            <a class="rightnav" href="mailto:events@hackreactor.com">Host an Event</a>
          </div>
        </div>
      </div>
    </div>

    <div class="holder">
      <div class="column-workshop">
        <h2 class="workshop">Upcoming Workshops & Events</h2>
      </div>
    </div>

    <div class="holder">
        <div class="column-left">
        </div>
        <div class="country">
         <ul class="countrynav">
           <li><a class="chosen" href="https://www.hackreactor.com/events#all--example4">ALL</a></li>
           <li><a href="https://www.hackreactor.com/events#sf--example4">SAN FRANCISCO</a></li>
           <li><a href="https://www.hackreactor.com/events#atx--example4">AUSTIN</a></li>
           <li><a href="https://www.hackreactor.com/events#la--example4">LOS ANGELES</a></li>
           <li><a href="https://www.hackreactor.com/events#ny--example4">NEW YORK CITY</a></li>
           <li><a href="https://www.hackreactor.com/events#online--example4">ONLINE</a></li>
          </ul>
        </div>
        <div class="column-right">
        </div>
    </div>

    <div class="holder">
      <div class="column-faq">
        <h2 class="faq">FAQ</h2>
        <div class="question">What are the program dates?</div>
        <div class="answer">Hack Reactor Prep has rolling enrollment. Since the course is self-paced and online, you can join us at any time and work at your own pace and leisure.</div>
        <div class="question">Is this an in-person/live online course with scheduled days and times?</div>
        <div class="answer">Hack Reactor Prep has rolling enrollment. Since the course is self-paced and online, you can join us at any time and work at your own pace and leisure.</div>
        <div class="question">Am I guaranteed to get into Hack Reactor if I take Prep?</div>
        <div class="answer">Hack Reactor Prep does not guarantee admittance into Hack Reactor's Immersive Programs. That said, 75% of students who interview after completing the course in its entirety are accepted to Hack Reactor.</div>
        <div class="question">It says there is a waitlist for Full Prep. What should I do?</div>
        <div class="answer">We do have to cap the number of Full Prep students enrolled at any given time to ensure high-quality and timely support. We are able to move students off of the waitlist and into the course as others finish. Our advice: sign up for the waitlist, and then enroll in Basic Prep. This allows you to begin on the modules with automated feedback, which are the same for both versions of Prep, while you wait for a spot.</div>
        <div class="question">Do you have scholarships available for Prep?</div>
        <div class="answer">We do not. That said, Basic Prep is 100% free and designed to allow you to fully prepare for the technical interview.</div>
      </div>
    </div>

  </div>
  </body>
</html>
